html,
body {
  padding: 0;
  margin: 0;
  font-size: 14px;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  background: #161e1f;
  color: #fff;
}

h1,
h2,
h3 {
  color: #b7fcf0;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

ul.blocks li {
  padding: 3.75rem 2rem;

  margin: 0px;
  margin-bottom: 1.5rem;
  position: relative;
  border: 1px solid rgb(158, 255, 32);
}

ul.blocks li:after {
  content: "";
  display: block;
  width: 0.25rem;
  transform: translateX(-50%);
  height: calc(1.5rem + 1px);
  background: rgb(158, 255, 32);
  position: absolute;
  left: 50%;
  bottom: calc(-1.5rem - 1px);
  z-index: 0;
}

ul.blocks li:last-child:after {
  display: none;
}

main {
  max-width: 80vw;
  margin: 0 auto;
}

form {
  margin-bottom: 3rem;
  display: flex;
}

input {
  display: inline;
  padding: 1.5rem;
  width: 100%;
  border-radius: 0;
  border: 2px solid #bad666;
  background-color: #303329;
  outline: none;
  font-size: 1.25rem;
  color: #bad666;
}

button {
  display: inline;
  padding: 0.125rem 4rem;
  border: none;
  background: #bad666;
  color: #303329;
  font-size: 1.5rem;
}
